body {
    margin: 0;
    padding: 0;
    font: normal 15pt Agrandir;
    background-color: rgb(181, 181, 181);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    font: Bold 20pt Agrandir;
    color: rgb(224, 224, 224);
    background-color: rgba(75, 12, 12, 0.421);
    height: 60px;
}

img#Menu {
    margin-top: 15px;
    width: 250px;
    height: auto;
}

img.zoom {
    transition: transform 0.3s ease-in-out;
}

img.zoom:hover {
    transform: scale(1.1);
}

section#header1{
    flex: auto;
    display: flex;
}

section#header2 {
    flex: auto;
    display: flex;
}

div#home {
    height: calc(100vh - 100px);
}


div#prod {
    margin: 10px;
}

div#seg {
    margin: 10px;
}

div#about {
    margin: 10px;
}

div#en {
    margin: 10px;
}
div#login_bttn {
    margin: 10px;
    background-color: rgba(102, 26, 26, 0);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0);
    border-radius: 10px;
    width: 79px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    color: rgb(130, 26, 26);
    margin-left: auto;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.float-on-hover {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.float-on-hover:hover {
    transform: translateY(-10px); /* Move a div 10px para cima */
}

footer {
    font: normal 15pt Arial;
    background-color: rgba(75, 12, 12, 0.682);
    flex: auto;
    height: 50px;
    display: flex;
    align-items: center;
}

p#footer {
    margin-left: 60vh;
    color: white;
    font: normal 15pt Agrandir;
}

div#home {
    display: flex;
}

img#nome {
    align-self: center;
    margin-left: 50vh;
}

img#footer {
    width: 250px;
    height: auto;
}