body {
    margin: 0;
    padding: 0;
    font: normal 15pt Agrandir;
    background-color: rgb(181, 181, 181);
}

img#Menu {
    margin-top: 10px;
    width: 250px;
    height: auto;
}

.zoom {
    transition: transform 0.3s ease-in-out;
}

.zoom:hover {
    transform: scale(1.1);
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.float-on-hover {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.float-on-hover:hover {
    transform: translateY(-10px); /* Move a div 10px para cima */
}

div { 
    display: flex;
    justify-content: center;
    align-items: center;
}